.beam-animation {
  opacity: 0;
  animation: rotateAndFade 10s ssteps(75) infinite;
}

@keyframes rotateAndFade {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
